:root {
  --main-color: #e8603c;
  --secondary-color: #f3af9d;
  --third-color: #ccc;
  --background-page-color: #fff;
  --background-block-color: var(--main-color);
  --background-not-active-color: var(--secondary-color);
  --logo-color-1: var(--main-color);
  --logo-color-2: var(--secondary-color);
  --text-color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.page {
  font-family: "HelveticalNeue", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0 auto;
  max-inline-size: 960px;
  background: var(--background-page-color);
}

.header {
  padding: 22px 0;
}
.header__logo {
  font-family: "Bebas", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: var(--main-color);
}
.header__logo_secondary-color {
  color: var(--secondary-color);
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  align-items: center;
}
.nav__list-item {
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;
  color: var(--third-color);
}
.nav__list-item_active {
  color: var(--main-color);
}

.blog {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.blog__title {
  padding: 19px;
  color: var(--background-page-color);
  background: var(--background-block-color);
}
.blog__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog__list {
  width: 70%;
}
.blog__list .item {
  font-size: 12px;
  position: relative;
}
.blog__list .item__left-image {
  position: absolute;
  left: -90px;
}
.blog__list .item__image {
  width: 100%;
  height: 100%;
}
.blog__list .item__text-container {
  padding: 24px 0 48px;
  display: flex;
}
.blog__list .item__info {
  width: 20%;
}
.blog__list .item__info-title {
  color: var(--main-color);
}
.blog__list .item__info-title:first-of-type {
  margin-bottom: 8px;
}
.blog__list .item__info-title:nth-of-type(3), .blog__list .item__info-title:nth-of-type(5) {
  margin: 18px 0 8px;
}
.blog__list .item__info-text {
  color: var(--third-color);
}
.blog__list .item__main-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 80%;
}
.blog__list .item__title {
  font-size: 18px;
  color: var(--main-color);
}
.blog__list .item__text {
  color: var(--text-color);
}
.blog__list .item__divider {
  border: 5px solid var(--third-color);
}
.blog__menu {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 25%;
}
.blog__menu-title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--main-color);
}
.blog__menu-text {
  font-style: 12px;
  color: var(--text-color);
}

.footer {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  background: var(--main-color);
  color: var(--background-page-color);
}
.footer__text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
}
.footer__message-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__title {
  margin-bottom: 24px;
}
.footer .nav__list {
  gap: 8px;
}

.mute-color {
  color: var(--third-color);
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
}