/* Шрифт */
@font-face {
    font-family: 'Bebas';
    font-style: normal;
    font-weight: 400;
    src: local('Bebas'), local('Bebas-Regular'),
        url(fonts/bebas.ttf) format('truetype');
}
@font-face {
    font-family: 'HelveticalNeue';
    font-style: normal;
    font-weight: 400;
    src: local('HelveticalNeue'), local('HelveticalNeueCyr'),
        url("fonts/HelveticaNeue Thin.ttf") format('truetype');
}

/* Правила по умолчанию*/
* {padding:0px; margin:0px; border-collapse:collapse;}
table {width:100%;}
td {vertical-align:top;}

#main>tbody>tr>td:nth-child(2)  {padding: 0px 10px;}

/* Дизайн первой строки */
#logo {padding-top: 17px; font-size: 36px; font-family: "Bebas";  color: rgb(232, 96, 60); }
#logo span {color: #f3af9d;}

#menu {height: 78px; text-align: right;}
#menu ul {margin-top: 36px;}
#menu li {display: inline; padding-left:29px;}
#menu li a {font-size: 16px; font-family: "Bebas"; color: rgb(185, 185, 185); text-decoration:none;}
#menu li a:hover {color: #e8603c;}

/* дизайн второй строки */
#main>tbody>tr:nth-child(2)>td:nth-child(2n+1) {background-color: #f1ad9b;}
#title {width: 940px;}
#title table{ height: 61px; width: 940px; background-color: rgb(232, 96, 60);
  font-size: 24px; font-family: "Bebas"; color: #fff;}
#title table td{padding-left: 18px; vertical-align: middle;}

/* пост */
#content {width:670px;}
#content>table {margin-top:24px; position: relative; margin-bottom: 50px;}
#content div.icon {position: absolute; left: -85px;}
#content .info {width:150px;}
#content .info p {padding-top:8px; color: #bababa; font-size: 12px; font-family: "HelveticalNeue";}
#content .info p a {text-decoration:none; color: #bababa;}
#content .info p a:hover {color: rgb(232, 96, 60);}
#content p.subheader:nth-child(1) {padding-top: 16px;}
#content p.subheader {font-size: 12px; font-family: "Bebas"; color: rgb(232, 96, 60); padding-top: 12px;}

#content h1 {font-size: 18px; font-family: "Bebas"; color: rgb(232, 96, 60);  padding-top: 14px;}
#content p {font-size: 12px; font-family: "HelveticaNeue"; color: rgb(65, 65, 65); line-height: 1.5; text-align: justify; padding-top: 19px;}

#content>table>tbody>tr:nth-child(2)>td {padding-bottom:50px;}
#content .line {height: 13px; background:url(images/background.png); }

