*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.button {
  font-size: 14px;
  padding: 15px;
  mix-blend-mode: difference;
  background: white;
  border: 1px solid darkgray;
  border-radius: 4px;
  transition: background 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    color: white;
    background: black;
  }

  &:active {
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: 2px 2px 0px 0px black;
  }
}

.dialog {
  font-size: 18px;
  border: 1px solid black;
  text-align: center;

  .button {
    font-size: 18px;
  }

  &::backdrop {
    background: black;
    opacity: 0.5;
  }
}

img {
  width: 100%;
}
