:root {
  --main-color: #e8603c;
  --secondary-color: #f3af9d;
  --third-color: #ccc;

  --background-page-color: #fff;
  --background-block-color: var(--main-color);
  --background-not-active-color: var(--secondary-color);

  --logo-color-1: var(--main-color);
  --logo-color-2: var(--secondary-color);

  --text-color: #000;
}

$main-color: var(--main-color);
$secondary-color: var(--secondary-color);
$third-color: var(--third-color);

$ackground-page-color: var(--background-page-color);
$background-block-color: var(--background-block-color);
$background-not-active-color: (--background-not-active-color);

$logo-color-1: var(--logo-color-1);
$logo-color-2: var(--logo-color-2);

$text-color: var(--text-color);

@mixin mainFontSetting($ff, $fw, $fs) {
  font-family: $ff, sans-serif;
  font-weight: $fw;
  font-size: $fs;
}

@mixin headerFontSetting($ff, $fw) {
  font-family: $ff, sans-serif;
  font-weight: $fw;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include headerFontSetting("Bebas", 400);
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.page {
  @include mainFontSetting("HelveticalNeue", 400, 12px);
  margin: 0 auto;
  max-inline-size: 960px;
  background: $ackground-page-color;
}

.header {
  padding: 22px 0;

  &__logo {
    @include headerFontSetting("Bebas", 400);
    font-size: 36px;
    color: $main-color;

    &_secondary-color {
      color: $secondary-color;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;

  &__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    align-items: center;

    &-item {
      font-size: 16px;
      text-transform: uppercase;
      list-style: none;
      color: $third-color;

      &_active {
        color: $main-color;
      }
    }
  }
}

.blog {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__title {
    padding: 19px;
    color: $ackground-page-color;
    background: $background-block-color;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;

    .item {
      font-size: 12px;
      position: relative;

      &__left-image {
        position: absolute;
        left: -90px;
      }

      &__image {
        max-width: 100%;
      }

      &__text-container {
        padding: 24px 0 48px;
        display: flex;
      }

      &__info {
        width: 20%;

        &-title {
          color: $main-color;

          &:first-of-type {
            margin-bottom: 8px;
          }

          &:nth-of-type(3),
          &:nth-of-type(5) {
            margin: 18px 0 8px;
          }
        }

        &-text {
          color: $third-color;
        }
      }

      &__main-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 80%;
      }

      &__title {
        font-size: 18px;
        color: $main-color;
      }

      &__text {
        color: $text-color;
      }

      &__divider {
        border: 5px solid $third-color;
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 25%;

    &-title {
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 10px;
      color: $main-color;
    }

    &-text {
      font-style: 12px;
      color: $text-color;
    }
  }
}

.footer {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  background: $main-color;
  color: $ackground-page-color;

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
  }

  &__message-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    margin-bottom: 24px;
  }

  .nav {
    &__list {
      gap: 8px;
    }
  }
}

.mute-color {
  color: $third-color;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
}
