.page {
  font-size: 20px;
  font-weight: normal;
  min-inline-size: 320px;
  max-inline-size: 1440px;
  margin: 0 auto;
  block-size: 100%;
}

.link {
  text-decoration: none;
  align-self: center;
}

.main {
  padding: 50px 0;
}

.section {
  &__title {
    font-size: 36px;
    font-weight: normal;
  }

  &__subtitle {
    font-size: 26px;
    font-weight: normal;
  }
}

.article {
  &__custom-text {
    padding: 50px;
    border: 1px solid lightgrey;
    border-radius: 15px;
  }
}

.button {
  font-size: 18px;
  padding: 15px;
  background: white;
  transition: background 0.3s ease-in-out;

  &:hover {
    color: white;
    background: black;
  }

  &:active {
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: 2px 2px 0px 0px black;
  }
}
