.link {
  text-decoration: none;
  align-self: center;
}

.button {
  font-size: 18px;
  padding: 15px;
  background: white;
  transition: background 0.3s ease-in-out;

  &:hover {
    color: white;
    background: black;
  }

  &:active {
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: 2px 2px 0px 0px black;
  }
}
